body {
  background-image: url('/images/background.jpg'); /* Replace with your image path */
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  position: relative;
  top: 0px;
  width: 624px;
  margin: 0 auto;
}

#piano {
  position: absolute;
  width: 624px;
  left: 0;
  bottom: -400px;
}

.white-key {
  position: absolute;
  width: 10px;
  height: 59px;
  z-index: 2;
  background-image: url("/images/whiteKey.jpeg");
}

.black-key {
  position: absolute;
  width: 7px;
  height: 41.3px;
  z-index: 3;
  background-image: url("/images/blackKey.jpeg");
}

#roll {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -400px;
  top: 50px;
  overflow: hidden;
  z-index: 1;
}

.tile {
  position: absolute;
  width: 9px;
  background: rgba(255, 252, 240, 0.7);
  box-shadow: 0 0 8px rgba(255, 255, 255, 0.8);
  border-radius: 4px;
}